#!
#! LOCAL
#!

#* docker
COMPOSE_PROJECT_NAME=human_recognizer

#* general
ADMIN_EMAIL=deadpool@example.com
APP_NAME=Human
SECRET_KEY=changethis
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256

ENVIRONMENT=local
ALLOWED_HOSTS=localhost
APP_PORT=80
APP_URL=http://localhost:3000/


#* db
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=changethis
POSTGRESQL_HOSTNAME=postgres
POSTGRESQL_PORT=5432
POSTGRESQL_DB_NAME=human_recognizer_local
#*
POSTGRESQL_EXTERNAL_PORT=6694
